# Bundler cache
.bundle
vendor
Gemfile.lock


*:Zone.Identifier

# Jekyll cache
.jekyll-cache
_site

# Imágenes Pesadas
assets/img/**/*.png

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

*.txt
