<style>
  @import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

 .github-card {
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 1rem;
  max-width: 400px;
  margin-bottom: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.github-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.github-link {
  text-decoration: none;
  color: var(--text-color) !important;
}

.github-link:hover * {
  color: var(--text-color) !important;
}
.github-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.9rem 0;
}

.github-header h4 {
    font-size: x-large !important;
    margin: 0;
}
.github-icon {
  font-size: 1.5rem;
}

.github-description {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.github-language {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
  color: var(--color-primary);
}
</style>
<div
  class="github-repo"
  data-owner="{{ include.owner }}"
  data-repo="{{ include.repo }}"
>
  <div class="github-card">Cargando repositorio...</div>
</div>

{% unless page.github_repo_script_loaded %}
  <script src="{{ '/assets/js/github-repo.js' | relative_url }}"></script>
  {% assign page.github_repo_script_loaded = true %}
{% endunless %}

