@import 'colors/typography-light';
@import 'colors/typography-dark';
@import 'addon/variables';
@import 'variables-hook';
@import 'addon/module';
@import 'addon/syntax';
@import 'addon/commons';
@import 'addon/mermaid';
@import 'colors/syntax-light'; // optional
@import 'colors/syntax-dark'; // optional
@import 'layout/home';
@import 'layout/post';
@import 'layout/tags';
@import 'layout/archives';
@import 'layout/categories';
@import 'layout/category-tag';


em {
	margin: 0 0.30rem;
}
em.type {
 text-transform: uppercase;
 vertical-align: center;
 border-radius: 4px;
 margin: 0 3px;
 padding: 2px 6px 2px 4px;
 font-weight: 600;
 border: 1px solid var(--mask-bg);
}

.highlighter-rouge {
  overflow: hidden;
}

.noheader {
	overflow: hidden;
	padding-top: 10px;

	.code-header {
   display: none;
 }
}

.window {
  display: flex;
  border: 1px solid #ccc6;
  border-radius: 0.8rem;
  flex-flow: column nowrap;
  overflow: hidden;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.55rem;
    border-bottom: 1px solid #ccc6;
    /* the label block */
    background: var(--window-header-bg);
    &-title {
      margin: auto;
    }
    &::before {
      content: '';
      display: inline-block;
      // margin-right: 5px;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: var(--code-header-muted-color-1);
      box-shadow: (0.75rem + 0.5rem) 0 0
      var(--code-header-muted-color-2),
      (0.75rem +  0.5rem) * 2 0 0
      var(--code-header-muted-color-3);
    }
  }
  &__body {
    padding: 25px;
  }
}
.highlight pre {
  font-family: 'Victor Mono', consolas;
}

svg[id^="mermaid-"] { min-width: 400px; max-width: 800px; font-size: 20px; }

.highlight {
  max-height: 700px;
}
