@media print {
    span[data-label-text] {
        margin: 0 auto;
        text-align: center;
        display: block;
        width:fit-content;
    }
    .lineno {
        display: none;
    }

    .highlight {
        background: #fff;
        & pre {
            white-space: break-spaces;
        }
    }

    div.code-header {
        text-align: center !important;
        justify-content: center !important;

        &::before {
            content: none !important;
        }
    }

    button[aria-label="copy"] {
        display: none;
    }
}