@media print {
    @page {
        margin-top: 1.4cm;
        margin-bottom: 1.4cm;
    }
    div .hl::before {
        display: none;
    }
    #topbar-wrapper,
    #tail-wrapper,
    .post-tail-wrapper,
    div.post-meta,
    #back-to-top,
    iframe, img {
        display: none;
    }
    h1 p {
        font-size: 2.1rem;
    }
    // HEADINGS
    h2 a, h3 a, h4 a {
        display: none;
    }

    h2 {
        font-size: 1.69rem;
        margin: 1.9rem 0;
    }
    h3 {
        font-size: 1.49rem;
        margin: 1.4rem 0;
    }
    .print-url {
        display: block;
        font-family: sans-serif;
        font-size: 15px;
        padding: .4rem .8rem;
        border: 1px solid #CCC;
        width: 100%;
        border-radius: 6px;
        margin: 0;
    }
    p, code.language-plaintext {
        font-size: 1.1rem;
    }

    span[data-label-text] {
        margin: 0 auto;
        text-align: center;
        display: block;
        width:fit-content;
        padding-left: 15px;
    }
    .lineno {
        display: none;
    }

    .highlight {
        background: #fff;
        // border: 1px solid #191919;
        color: #111;
        padding: 0;
        & pre {
            white-space: break-spaces;
        }

    }
    div.code-header {
        text-align: center !important;
        justify-content: center !important;
        &::before {
            content: none !important;
        }
    }

    button[aria-label="copy"] {
        display: none;
    }
}