<div class="resource mb-4 position-relative">
  <button id="shareBtn" class="border-0 p-1 px-2 border border-3 rounded mb-3"><i class="fa-solid fa-arrow-up-from-bracket"></i> Compartir</button>
  {% if include.target %}
  <a class="mb-4 d-inline-block fs-6" target="_blank" href="{{ include.src }}">Abrir en una nueva ventana</a>
  {% endif %}
  <iframe src="{{ include.src | relative-url }}" style="width: 100%; min-height: 500px; overflow: hidden; border-radius: 8px" frameborder="0" id="ifr" allowfullscreen></iframe>
</div>

<script>
function loadFile(archivo) {

    const fileType = archivo.endsWith('.png') ? 'image/png' :
					 archivo.endsWith('.jpg') || archivo.endsWith('.jpeg') ? 'image/jpeg' :
					 archivo.endsWith('.gif') ? 'image/gif' :
					 archivo.endsWith('.pdf') ? 'application/pdf' :
					 'application/octet-stream';

    const fileName = archivo.split('/').pop();

	return fetch(archivo)
            .then(response => response.blob())
            .then(blob => new File([blob], fileName, { type: fileType }))
            .catch(error => console.error('Error al cargar el archivo:', error));
}

document.getElementById('shareBtn').addEventListener('click', function() {
    const ifr = document.getElementById('ifr');
    const src = ifr.src;

    if (navigator.share && navigator.canShare) {
		loadFile(src)
			.then(file => {
					navigator.share({
					title: 'Mira este archivo',
					text: 'Te estoy compartiendo un archivo interesante.',
					files: [file]
			})
			.then(() => {
				console.log('Archivo compartido exitosamente');
			})
			.catch((error) => {
				console.error('Error al compartir el archivo:', error);
			});
		});
    } else {
        alert('La Web Share API no es compatible o no puede compartir archivos en este dispositivo.');
    }
});
</script>
