@mixin styles {
    color-scheme: dark;

    /* Framework color */
    --main-bg: rgb(27 27 30);
    --mask-bg: rgb(68 69 70);
    --main-border-color: rgb(44 45 45);

    /* Common color */
    --text-color: rgb(175 176 177);
    --text-muted-color: #868686;
    --text-muted-highlight-color: #aeaeae;
    --heading-color: #cccccc;
    --label-color: #a7a7a7;
}