---
layout: page
---

<style>
  #filters {
    margin: 30px 0;
  }

  .filter-btn {
    margin: 5px;
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .filter-btn:hover,
  .filter-btn.active {
    background-color: #6c63ff;
    color: #fff;
  }

  .gallery-item {
    display: block;
  }

  .gallery-item.hidden {
    display: none;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc5;
    height: 180px;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
  }

  .gallery-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
  }
  
  .gallery-info h2 {
    color: #ddd;
  }

  .gallery-item:hover .gallery-info {
    opacity: 1;
  }

  @media(min-width: 1280px) {
    .gallery-item {
      height: 230px;
    }
  }

</style>
{% assign all_items = site.data.portfolio[page.key] %}
{% assign categories = "" | split: "," %}

{% for item in all_items %}
  {% if item.category and item.category != "" %}
    {% unless categories contains item.category %}
      {% assign categories = categories | push: item.category %}
    {% endunless %}
  {% endif %}
{% endfor %}

<div id="filters" style="margin-bottom: 20px; text-align:center;">
  <button class="filter-btn" data-filter="all">Todos</button>
  <!-- <button class="filter-btn" data-filter="blog">Blogs</button> -->
  <!-- <button class="filter-btn" data-filter="landing">Landing Pages</button> -->
  {% for category in categories %}
    {% assign cat_url = category | slugify %}
    <button class="filter-btn" data-filter="{{ category }}">{{ category }}</button>
  {% endfor %}
</div>
<div class="gallery">
  {% for project in site.data.portfolio[page.key] %}
  <div class="gallery-item {{ project.category }}">
    <a href="{{ project.url }}" target="_blank">
      <img 
        src="data:image/webp;base64,{{ project.image_base64 }}"
        data-src="{{ project.image | relative_url }}"
        alt="{{ project.title }}"
        loading="lazy">
      <div class="gallery-info">
        <h2>{{ project.title }}</h2>
        <p class="d-flex align-items-center">{{ project.description }} <i class="fa-solid fa-arrow-up-right-from-square fs-4 ms-auto"></i></p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll('img[data-src]');
    images.forEach(img => {
      const highQualityImage = img.getAttribute('data-src');
      img.onload = () => img.src = highQualityImage;
      img.src = highQualityImage;
    });

    const filterButtons = document.querySelectorAll(".filter-btn");
    const items = document.querySelectorAll(".gallery-item");

    filterButtons.forEach(btn => {
      btn.addEventListener("click", () => {
        const filter = btn.getAttribute("data-filter");

        filterButtons.forEach(b => b.classList.remove("active"));
        btn.classList.add("active");

        items.forEach(item => {
          if (filter === "all" || item.classList.contains(filter)) {
            item.classList.remove("hidden");
          } else {
            item.classList.add("hidden");
          }
        });
      });
    });
  });
</script>
