---
layout: default
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

{% include lang.html %}
<script>
document.addEventListener("DOMContentLoaded", () => {
  let contentH2Elements = document.querySelectorAll(".content h2");
  let contentH3Elements = document.querySelectorAll(".content h3");
  if (contentH2Elements.length === 0 && contentH3Elements.length === 0) return;

  // Función para obtener valores originales
  function getOriginalValues(elements) {
    if (elements.length === 0) return null;
    return {
      fontSize: parseFloat(window.getComputedStyle(elements[0]).fontSize),
      marginTop: parseFloat(window.getComputedStyle(elements[0]).marginTop),
      marginBottom: parseFloat(window.getComputedStyle(elements[0]).marginBottom),
    };
  }

  let h2Original = getOriginalValues(contentH2Elements);
  let h3Original = getOriginalValues(contentH3Elements);

  document.getElementById("font_big").onclick = () => {
    document.querySelector(".content").style.fontSize = "1.43rem";

    if (h2Original) {
      contentH2Elements.forEach((h2) => {
        h2.style.fontSize = (h2Original.fontSize * 1.8) + "px";
        h2.style.marginTop = (h2Original.marginTop * 1.2) + "px";
        h2.style.marginBottom = (h2Original.marginBottom * 1.3) + "px";
      });
    }

    if (h3Original) {
      contentH3Elements.forEach((h3) => {
        h3.style.fontSize = (h3Original.fontSize * 1.6) + "px"; // Aumenta fuente un 60%
        h3.style.marginTop = (h3Original.marginTop * 1.15) + "px"; // Aumenta margen superior 15%
        h3.style.marginBottom = (h3Original.marginBottom * 1.2) + "px"; // Aumenta margen inferior 20%
      });
    }
  };

  document.getElementById("font_normal").onclick = () => {
    document.querySelector(".content").style.fontSize = "1.03rem";

    if (h2Original) {
      contentH2Elements.forEach((h2) => {
        h2.style.fontSize = h2Original.fontSize + "px"; // Restaura fuente original
        h2.style.marginTop = h2Original.marginTop + "px"; // Restaura margen superior original
        h2.style.marginBottom = h2Original.marginBottom + "px"; // Restaura margen inferior original
      });
    }

    if (h3Original) {
      contentH3Elements.forEach((h3) => {
        h3.style.fontSize = h3Original.fontSize + "px"; // Restaura fuente original
        h3.style.marginTop = h3Original.marginTop + "px"; // Restaura margen superior original
        h3.style.marginBottom = h3Original.marginBottom + "px"; // Restaura margen inferior original
      });
    }
  };
});

</script>
<article class="px-1">
  <header>
    <h1 data-toc-skip><strong>{{ page.title | markdownify }}</strong></h1>
    {% if page.description %}
      <p class="post-desc fw-light mb-4">{{ page.description | markdownify }}</p>
    {% endif %}
    <div class="post-meta text-muted">
      <!-- published date -->
      <span>
        {{ site.data.locales[lang].post.posted }}
        {% include datetime.html date=page.date tooltip=true lang=lang %}
      </span>

      <!-- lastmod date -->
      {% if page.last_modified_at and page.last_modified_at != page.date %}
        <span>
          {{ site.data.locales[lang].post.updated }}
          {% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
        </span>
      {% endif %}

      {% if page.image %}
        {% capture src %}src="{{ page.image.path | relative_url | default: page.image }}"{% endcapture %}
        {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
        {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

        {% if page.image.lqip %}
          {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
        {% endif %}

        <div class="mt-3 mb-3">
          <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
          {%- if page.image.alt -%}
            <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
          {%- endif -%}
        </div>
      {% endif %}

      <div class="d-flex justify-content-between">
        <!-- author(s) -->
        <span>
          {% if page.author %}
            {% assign authors = page.author %}
          {% elsif page.authors %}
            {% assign authors = page.authors %}
          {% endif %}

          {{ site.data.locales[lang].post.written_by }}

          <em>
            {% if authors %}
              {% for author in authors %}
                {% if site.data.authors[author].url -%}
                  <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
                {%- else -%}
                  {{ site.data.authors[author].name }}
                {%- endif %}
                {% unless forloop.last %}{{ '</em>, <em>' }}{% endunless %}
              {% endfor %}
            {% else %}
              <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
            {% endif %}
          </em>
        </span>
        <div>
          <button id="font_normal" style="border: 1px solid #ccc; border-radius: 4px;" title="Fuente Aumentada">
            <i class="fa-solid fa-font fa-sm" aria-hidden="true"></i>
          </button>
          <button id="font_big" style="border: 1px solid #ccc; border-radius: 4px;" title="Fuente Normal">
            <i class="fa-solid fa-font fa" aria-hidden="true"></i>
          </button>
        </div>
        <!-- read time -->
        {% include read-time.html content=content prompt=true lang=lang %}
      </div>
      <!-- .d-flex -->
    </div>
    <!-- .post-meta -->
  </header>

  <div class="content">
    {{ content }}
  </div>
  <section class="mt-5">
    <div align="center" style="height: 220px; background: url(/assets/img/never-stop-learning.png); background-size: contain; background-repeat: no-repeat; background-position: center;">
    </div>
  </section>
  <div class="post-tail-wrapper text-muted">
    <!-- categories -->
    {% if page.categories.size > 0 %}
      <div class="post-meta mb-3">
        <i class="far fa-folder-open fa-fw me-1"></i>
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">{{ category }}</a>
          {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      </div>
    {% endif %}

    <!-- tags -->
    {% if page.tags.size > 0 %}
      <div class="post-tags">
        <i class="fa fa-tags fa-fw me-1"></i>
        {% for tag in page.tags %}
          <a
            href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
            class="post-tag no-text-decoration"
          >
            {{- tag -}}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    <div
      class="
        post-tail-bottom
        d-flex justify-content-between align-items-center mt-5 pb-2
      "
    >
      <div class="license-wrapper">
        {% if site.data.locales[lang].copyright.license.template %}
          {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

          {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
        {% endif %}
      </div>

      {% include post-sharing.html lang=lang %}
    </div>
    <!-- .post-tail-bottom -->
  </div>
  <!-- div.post-tail-wrapper -->
</article>
